@import "../mixins";
#setup-teams {
	.teams-setup-container {
		@include setup-spacing(32px);

		.ecms-card {
			> button {
				margin-top: 26px;
			}
		}

		.ecms-card {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 35px;

			.colour-container {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.colour-square {
					width: 70px;
					height: 70px;
					border: 1px solid #FFFFFF;
					box-sizing: border-box;
					border-radius: 8px;
				}
				p {
					font-size: 16px;
					margin-top: 0;
				}
				
				.colour-square:hover {
					opacity: 0.8;
					cursor: pointer;
				}

				.ms-ColorPicker-colorSquare {
					border-radius: 3px;
				}

				.ms-TextField-fieldGroup {
					@include input-like;
					input {
						color: $text-color;
					}
					
				}
			}
			.form-container {
				flex: 1 1 auto;
			}
		}
	}
	
}