fluent-tabs {
	// From https://stackoverflow.com/questions/45536537/centering-in-css-grid
	place-items: center;
}

fluent-tab-panel {
	margin-top: 15px;
}

#importCsvPanel {
	width: 1000px;
	height: 250px;
	background-color: rgb(22, 22, 22);
	border: 3px dashed #fff;

	.dropzone {
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		font-size: 16px !important;
		&:hover {
			cursor: pointer;
		}

		.file-reject {
			color: #F44336;
		}
	}
}

#csvImportedTable {
	h4 {
		// Asks to pick each column
		font-size: 20px;
		font-weight: bold;
		text-align: center;
	}

	thead th:hover {
		background-color: #313131;
		cursor: pointer;
	}

	thead th[disabled=""] {
		background-color: #141414;
		color: darken($color: $text-color, $amount: 20%);
		&:hover {
			cursor: not-allowed;
		}
	}
}