// Code for the events/groups setup UI
@import "../variables";
@import "../mixins";

.setup-frame {
	background: $default-background;
	border-radius: 7px;

	/* Dark/Shadow/Window */
	box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.37), 0px 2px 21px rgba(0, 0, 0, 0.37);
	border-radius: 7px;
	border: 1px solid rgba(255, 255, 255, 0.0837);

	color: $text-color;
	text-align: left;

	width: 1262px;
	height: 842px;

	padding: 60px;
	box-sizing: border-box;

	position: relative;
	
	@include breakpoint-at-height(842px, "max") {
		max-height: 82vh;
		max-width: calc(100vw - (100vh - 82vh));
	}

	// Header styles

	// Base header that sits at the top of all setup frames
	.setup-header {

		padding-bottom: 23px; // add spacing below

		h1, h3 {
			font-family: "Dosis";
			margin: 0;
		}

		h1 {
			font-weight: 600;
			font-size: 53px;
			margin-bottom: 18px;
		}

		h3 {
			font-weight: 400;
			font-size: 23px;
		}
	}

	// Form sub headers
	h2 {
		font-family: "Dosis";
		font-weight: 500;
		font-size: 34px;
	}

}



// Drop up context menu for navigating away
.setup-nav {
	position: absolute;
	width: 100%;
	@include dropdown-fixes;
	bottom: 17px;

	.setup-context-menu {
		position: absolute;
		right: 25px;
		bottom: 0px;
	}

	.setup-back {
		position: absolute;
		left: 25px;
		bottom: 0px;
	}

	// The toggle itself
	button {
		font-size: 30px;
		background: none;
		border: none;
		color: $text-color;
		width: 50px;

		&:hover {
			color: darken($text-color, 10%);
			background-color: rgba(255, 255, 255, 0.18);
			cursor: pointer;
			border-radius: 4.44px;
			
		}

		&::after {
			// Remove the caret.
			display: none !important;
		}
	}
}

// Button to advance setup
.setup-actions {
	position:absolute;
	bottom: 32px;
	right: 36px;
}