// Creates a blue link
@mixin link {
	color: $link-blue;

	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

// Use our fonts
// Some browsers override e.g. input fonts
@mixin use-fonts {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; // Fallbacks from VSCode Autocomplete
}