// Creates a blue link
@mixin link {
	color: $link-blue;

	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}

// Use our fonts
// Some browsers override e.g. input fonts
@mixin use-fonts {
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; // Fallbacks from VSCode Autocomplete
}

// Stolen from bootstrap
// Nice ease in for hover
@mixin ease-in {
	// Stolen from Bootstrap
	transition: color 0.15s ease-in-out, background-color 0.10s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// FIx an issue where Bootstrap dropdown items have widths extending beyond the dropdown itself
@mixin dropdown-fixes {
	.dropdown-item {
		width: auto !important;
	}
}

// Use to add input styles (the background and border) to any item
@mixin input-like {
	background: rgba(255, 255, 255, 0.0605);
	border: 1px solid rgba(255, 255, 255, 0.36);
	border-radius: 3px;
}