/** Variables used throughout the background */

// Our defauly background is black
$default-background: #202020;
// ... so text is white
$text-color: #ffffff;

:root {
	--neutral-foreground-rest: $text-color !important;
}

// Link blue, used for links
$link-blue: #4AE2FF;

// CHB Colour
$chb: #762123;
$chb-hover: lighten($chb, 6%);

// Success color
$success-color: rgba(0, 204, 106, 0.33);

// Color of a Save button
$save-button-color: rgba(124, 196, 159, 0.27);
