/** Variables used throughout the background */

// Our defauly background is black
$default-background: #202020;
// ... so text is white
$text-color: #ffffff;

// Link blue, used for links
$link-blue: #4AE2FF;

// CHB Colour
$chb: #762123;