/**
 * Base styles for the site
 */
@import "mixins";
@import "fonts";

// Expand root, html, body to cover whole page
// Copied from the IsItWeekA Source Code
html, body, #root {
  margin: 0;
  min-height: 100vh;
	@include use-fonts;
}

/** Useful flexbox style. Centres everything in it so long as display: flex is set */
.flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

/** Set 100% height */
.fill-height {
	height: 100%;
}

/** Set to 100% viewport height */
.fill-height-viewport {
	min-height: 100vh;
}

/** Useful for creating link like text */
.ecms-link {
	@include link;
}

// Main container where stuff for the event management UI lives */
.main-container {
	width: 100%;
	min-height: 100vh;
	background-color: $default-background;
}