/**
SCSS for the data entry pages
*/

.entry-page {
    overflow: auto;
    * {
        overflow: auto;  
    }

    // From https://grid.layoutit.com/
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 57px; 
    gap: 0px 0px; 
    grid-template-areas: 
        "."
        "."; 

    .entry-bottom-nav {
        min-height: 57px;
    }
}

.entry-list {
    // From figma
    background: #202020;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);

    h1 {
        text-align: center;
        margin: 30px;
    }

    .entry-list-container {
        // From figma
        /* Auto Layout */
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;

        padding-left: 26px;
        padding-right: 26px;

        .entry-list-item {
            /* Button */
            position: static;
            width: 100%;
            min-height: 60px;
            left: 0px;
            top: 0px;


            /* Inside Auto Layout */
            flex: none;
            order: 0;
            flex-grow: 0;
            margin-bottom: 30px;

            background: rgba(169, 52, 54, 0.56);
            border: 2.1452px solid #281D1E;
            box-sizing: border-box;
            border-radius: 8px;

            // Inside it
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 20px;

            svg {
                width: 60px;
            }

            p {
                flex: 1;
                font-family: Dosis;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
            }


            // Use button hover props
            &:hover {
                background-color: lighten($color: rgba(169, 52, 54, 0.56), $amount: 5%);
                border-color: darken(#882B2D, 5%);
                cursor: pointer;
                color: darken($text-color, 5%);
            }
        }
    }
}

.entry-renderer {
    padding: 0px 18px;
}

.matches-item {
    height: 150px;
    min-width: 284px;
    width: 100%;

    background: rgba(32, 32, 32, 0.7);
    border-radius: 8px;

    //display: flex;

    .matches-header {
        display: flex;
        flex-direction: row;
        text-align: center;
        font-family: Dosis;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 49px;

        position: relative;
        overflow: hidden;

        height: 45px;
        
        .team-name {
            flex: 1;
            margin: 0;
            background: red;
            overflow: hidden;

            margin-top: -1px;

        }
        .team-vs {
            position: absolute;
            
            //line-height: 49px;
            width: 30px;
            height: 30px;
            left: calc(50% - 15px);
            top: 8px;

            border-radius: 50%;

            overflow: hidden;
            margin: 0;

            background: rgba(54, 58, 61, 0.91);

            display: flex;
            align-items: center;
            justify-content: center;

            p {
                font-size: 14px;
                margin: auto;
                line-height: normal;
            }
        }
    }

    .matches-inputs {
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: auto;
        height: calc(100% - 45px);

        input {
            width: 58px;
            height: 58px;
            border: 1px solid rgba(199, 199, 199, 0.25);
            border-radius: 8px;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            text-align: center;

            font-family: Dosis;
            font-style: normal;
            font-weight: normal;
            font-size: 23px;
        }

        .match-input-container {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            font-family: Dosis;
            font-style: normal;
            font-weight: 600;
            font-size: 23px;
            flex: 0;
            min-width: 12px;
        }

    }
}

.entry-matches-container {
    /* Auto Layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    > * {
        flex: none;
        order: 2;
        flex-grow: 0;
        margin-bottom: 30px;
    }
}

footer.entry-bottom-nav {
    display: grid; 
    grid-template-columns: 45px 1fr 45px; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". . ."; 
    padding: 0px 22px;
    > * {
        margin: auto;
    }
    svg {
        font-size: 18px;
    }

    .green-button {
        width: 100px;
        height: 40px;
    }

    svg.fa-ellipsis-h {
        width: 45px;
        height: 20px;
    }
}