/** 
 * Includes the fonts ECMS uses
 */

// Dosis - used for headers
@font-face {
	font-family: "Dosis";
	src: url("../assets/fonts/Dosis/Dosis-VariableFont_wght.ttf");
}

// Open Sans - for the body
@font-face {
	font-family: "Open Sans";
	src: url("../assets/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
	font-weight: 1 800;
}

@font-face {
	font-family: "Open Sans";
	src: url("../assets/fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf") format("truetype");
	font-style: italic;
	font-weight: 1 800;
}

// Open Sans - for the body
@font-face {
	font-family: "Open Sans";
	src: url("../assets/fonts/Open_Sans/static/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
	font-weight: 600;
}