// Styles for headers
@import "mixins";

// Title of a page, so it uses Dosis
.title-header {
	font-family: "Dosis";
}

.sub-header {
	font-family: "Dosis";
	font-weight: 600;
}

.header-3 {
	@include use-fonts;
	font-weight: 600;
}