// Homepage SCSS
@import "mixins";

.main-container {
	// From https://grid.layoutit.com/
	display: grid; 
  grid-template-columns: 300px; 
  grid-template-rows: 80px; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    ". ."; 
	color: $text-color;
	nav {
		font-weight: 600;
		height: 80px;
		color: $text-color;

		background-color: $default-background;

		box-sizing: border-box;
		//padding-left: 30px;

		.main-nav-links {
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;

			& > a {
				padding: 30px;
			}

			& > a, .dropdown button {
				text-decoration: none;
				color: $text-color;
				font-weight: 600;

				@include use-fonts;
				@include ease-in;

				svg.svg-inline--fa {
					padding-right: 5px;
				}

				&:hover {
					color: rgba(255, 255, 255, 0.75);
					cursor: pointer;
				}
			}

			@include dropdown-fixes;
			.dropdown {
				position: absolute;
				right: 10px;

				.dropdown-item {
					font-weight: 600;
					@include use-fonts;
				}
			}
		}
	}

	.branding {
		text-align: center;
		font-size: 1.5em;
		display: flex;
		justify-content: center;
		align-items: center;
		h1 {
			margin: 0;
		}
	}
	
}

.homepage-content {
	background-color: rgba(58, 58, 58, 0.3);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	padding-left: 30px;
	box-sizing: border-box;
	.homepage-header {
		> .sub-header {
			font-size: 40px;
			margin-bottom: 0;
		}

		.header-3 {
			margin-top: 7px;
		}
	}
	
}