/** Login container for all login element */
@import "breakpoints";
@import "variables";

.login-container {
	position: absolute;
	width: 616px;
	height: 810px;
	left: calc(50% - 616px/2);
	top: calc(50% - 810px/2);

	background: $default-background;
	border-radius: 7px;

	box-shadow: 0px 17.248px 34.4961px rgba(0, 0, 0, 0.37), 0px 1.078px 11.319px rgba(0, 0, 0, 0.37);
	border-radius: 3.77301px;

	color: $text-color;
	text-align: center;

	h1 {
		font-size: 6em;
		font-weight: 600;
	}

	.google-sign-in {
		height: 70px;
	}

	a {
		display: block;
	}

	.local-auth-activate {
		margin-top: 10px;
	}

	@include mobile {
		position: relative;
		width: 90vw;
		height: 90vh;
		margin-top: 5vh;
		left: 0;
		top: 0;
	}
	
}
