// Code for the events/groups setup UI
@import "variables";
@import "mixins";

.setup-frame {
	background: $default-background;
	border-radius: 7px;

	/* Dark/Shadow/Window */
	box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.37), 0px 2px 21px rgba(0, 0, 0, 0.37);
	border-radius: 7px;
	border: 1px solid rgba(255, 255, 255, 0.0837);

	color: $text-color;
	text-align: left;

	width: 1262px;
	height: 842px;

	padding: 60px;
	box-sizing: border-box;
	
	@include breakpoint-at-height(842px, "max") {
		max-height: 82vh;
		max-width: calc(100vw - (100vh - 82vh));
	}
}

.setup-header {
	h1, h3 {
		font-family: "Dosis";
		margin: 0;
	}

	h1 {
		font-weight: 600;
		font-size: 53px;
		margin-bottom: 18px;
	}

	h3 {
		font-weight: 400;
		font-size: 23px;
	}
}

// Drop up context menu for navigating away
.setup-nav {
	position: absolute;
	right: 25px;
	bottom: 14px;

	@include dropdown-fixes;

	// The toggle itself
	button {
		font-size: 30px;
		background: none;
		border: none;
		color: $text-color;
		width: 50px;

		&:hover {
			color: darken($text-color, 10%);
			background-color: rgba(255, 255, 255, 0.18);
			cursor: pointer;
			border-radius: 4.44px;
			
		}
	}
}